.info {
    text-align:justify;
    margin: 60x 50px;
    padding: 20px;
}

.info h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    color: #e91e63;

}

.info p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: black;

}

#motto {
    font-weight: bold;
    color: #e91e63;
    
}